* {
  box-sizing: border-box;
}
body {
  background-color: #030328;
  color: white;
  margin: 0;
}

.error404{
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  max-width: 300px;
  text-align: center;
}
.error404 h1{
  color: rgb(196, 14, 14);
  margin-bottom: 0;
}
.error404 img{
  width: 300px;
  height: 300px;
  object-fit: cover;
}
main {
  display: flex;
  flex-wrap: wrap;
}
header {
  background-color: #75759e;
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  padding: 1.2rem;
}
header .sections{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 0px 0.5rem;
  letter-spacing: 1.2px;
  font-size: 0.8rem;
}
header h1:hover{
  color: #030328;
  transition: 0.3s;
  cursor: pointer;
}
header form{
  margin: 0rem 1.5rem;
}
header #search {
  background-color: transparent;
  padding: 0.7rem;
  border-radius: 20px;
  border: 0.14rem solid #030328;
  font-family: inherit;
  color: #ffffffec;
  font-size: 1rem;
}
#search::placeholder {
  color: #ffffffec;
}
#search:focus {
  background-color: #474797;
  outline: none;
}

.movie {
  background-color: #75759e;
  border-radius: 4px;
  box-shadow: 0px 0px 14px -3px rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0px 0px 14px -3px rgba(255, 255, 255, 0.6);
  -moz-box-shadow: 0px 0px 14px -3px rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  width: 298px;
  margin: 1.2rem;
  overflow: hidden;
}
.movie img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.movie-info {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 1.2px;
}
.movie-info h3 {
  margin: 0;
}
.movie-info span {
  background-color: #030328;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 5px;
}
.bi-star-fill {
  width: 18px;
  height: 18px;
  color: rgb(230, 230, 14);
}

.movie-info span.green {
  color: rgb(12, 243, 16);
}
.movie-info span.orange {
  color: rgb(255, 174, 0);
}
.movie-info span.red {
  color: rgb(255, 0, 0);
}
.movie-card {
  position: relative;
  overflow: hidden;
}
.overview {
  position: absolute;
  max-height: 100%;
  overflow: auto;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.95);
  color: black;
  padding: 1.2rem;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}
.movie:hover .overview {
  transform: translate(0);
  background-color: rgba(255, 255, 255, 0.95);
}
.movie h4{
    margin-top: 0;
}
